.constru{
    position: fixed;
    top: -120%;
    background-color: var(--gris);
    width: 100%;
    height: 100%;

}

.constru-fade-in{
    animation: top-in 0.5s;
    animation-fill-mode: forwards;
    -webkit-animation: top-in 0.5s;
    -webkit-animation-fill-mode: forwards;
}
.constru-fade-out{
    animation: top-out 0.5s;
    animation-fill-mode: forwards;
    -webkit-animation: top-out 0.5s;
    -webkit-animation-fill-mode: forwards;
}

@keyframes top-in {
    0% {top: -1200%;}
    1%{ top:-200%; }
    100% {top: 0%;}
}
@keyframes top-out {
    0% {top: 0%;}
    99%{top: -200%;}
    100% {top: -1200%;}
}

@-webkit-keyframes top-in {
    0% {top: -1200%;}
    1%{ top:-200%; }
    100% {top: 0%;}
}
@-webkit-keyframes top-out {
    0% {top: 0%;}
    99%{top: -200%;}
    100% {top: -1200%;}
}


.div-1-constru{display:flex; justify-content: center; align-items: center; width: 70vw; padding:150px 15vw 0 15vw;}
.p-1-constru{font-family: 'Trade Gothic 20 Condensed'; font-size:5vw; color: white; text-align: center;}
.div-2-constru{display:flex; justify-content: center; align-items: center; width: 70vw; padding:0px 15vw;}