div.omrs-input-group {
	margin-bottom: 1.5rem;
	margin-top: 50px;
	position: relative;
}

.w100{
	width: 100vw;
}
.w45{
	width: 45vw;
}
.w40{
	width: 45vw;
	margin-left: 5vw;
}

.omrs-input-underlined > input,
.omrs-input-filled > input {
	border: none;
	border-bottom: 3px solid gray;
	width: 100%;
	height: 2rem;
	font-size: 40px;
	font-family: 'Trade Gothic 18 Condensed';
	line-height: 147.6%;
	padding-top: 0.825rem;
	padding-bottom: 0.5rem;
	color: white;
}

.omrs-input-underlined > input:focus,
.omrs-input-filled > input:focus {
	outline: none;
}

.omrs-input-underlined > .omrs-input-label,
.omrs-input-filled > .omrs-input-label {
	position: absolute;
	top: 0px;
	left: 0.875rem;
	line-height: 147.6%;
	color: white;
	transition: top .2s;
	font-size: 40px;
	font-family: 'Trade Gothic 18 Condensed';
}


.omrs-input-underlined > .omrs-input-helper,
.omrs-input-filled > .omrs-input-helper {
	font-size: 40px;
	font-family: 'Trade Gothic 18 Condensed';
	color: white;
	letter-spacing: 0.0275rem;
	margin: 0.125rem 0.875rem;
}

.omrs-input-underlined > input:hover,
.omrs-input-filled > input:hover {
	border-color: var(--azul);
	transition: border-color 1s;
}

.omrs-input-underlined > input:focus + .omrs-input-label,
.omrs-input-underlined > input:valid + .omrs-input-label,
.omrs-input-filled > input:focus + .omrs-input-label,
.omrs-input-filled > input:valid + .omrs-input-label {
	top: -35px;
	font-size: 20px;
	font-family: 'Trade Gothic 18 Condensed';
	margin-bottom: 32px;
}

.omrs-input-underlined > input {
	border-color: var(--violeta);
	background: var(--gris);
}
